


div.capa-livro{
    width: 80px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    width: 80px;
    height: 120px;
}
