@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Special+Gothic:wght@400..700&display=swap');

:root{
    --background-color: rgb(255, 247, 239);
    --background-color-hover: rgb(161, 150, 139);
    --cor-linha: rgba(252, 228, 214, 0.483);
    --cor-borda: rgba(215, 184, 163, 0.438);
    --cor-navbar: rgb(255, 241, 232);
    --cor-botao-hover: rgb(252, 228, 214);
}

*{ 
    font-family: "Special Gothic","Verdana";
    margin: 0;
    padding: 0;
}

hr{
    border: .05em solid var(--cor-linha);
    border-radius: 1em;
}

#placeholderTitulo{
    font-size: 1.5em;
    font-family: "EB Garamond";
    margin-right: 1em;
    border: 1px solid var(--cor-borda);
    padding: .1em;
}

.container_nav{
    display: flex;
    height: 3em;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 1px 1px 20px 1px rgba(187, 187, 187, 0.697);
    border-radius: 0.25em;
    margin: 0 0 1em 0;
    padding: 10px;
}

.nav_bar_elements li {
    list-style-type: none;
    height: 100%;
}

.nav_bar_elements{
    margin-right: auto;
}

.nav_bar_elements ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav_bar_elements li, a {
    text-decoration: none;
    color: black;
}

.nav_bar_elements a{
    display: flex;
}
.nav_bar_elements a:hover {
    text-decoration: underline;
    
}

.book_item_buttons{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-self: center;
}

.book_item_buttons button:hover{
    background-color: var(--cor-botao-hover);
}

section#container-pesquisa input, button, select{
    background-color: var(--cor-navbar);
    height: 30px;
    margin: 5px 0px 5px 0px;
    border: 1px solid var(--cor-borda);
    border-radius: 3px;
    
}

#container-pesquisa button, select, input{
    transform: 150ms ease;
}

#container-pesquisa button:hover, select:hover{
    background-color: var(--cor-botao-hover);
}

#pesquisa-livro{
    width: 300px;
}

#botao-pesquisa, #opcao-pesquisa{
    padding:5px;
}

.book_item_image{
    transition: 100ms ease;
    box-shadow: 5px 5px 20px rgba(199, 187, 180, 0.697);
}

.book_item_image:hover{
    cursor: pointer;
    scale: 1.03;
}

.book_item_image{
    width: 100px;
    height: 140px;
}

div.book-item{
    display: flex;
    align-items: start;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

div.book-item p{
    
    margin-left: .5em;
    
}

div.book-item p:first-child{
    font-size: 1.2em;
}

#resultados{

    margin: 0 30% 0 30%

}