@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');

:root{

}

*{
    font-family: "Special Gothic", "Verdana";
    margin: 0;
    padding: 0;
}

html{
    font-size: 14pt;
    margin-left: 250px;
    margin-right: 250px;
}

main{

    

}

section#container-pesquisa{
    display: flex;
    justify-content: center;
    gap: 2px;
    background-color: rgba(255, 228, 210, 0.671);
    border: 1px solid black;
}

section#container-pesquisa input, button, select{
    background-color: rgb(255, 241, 232);
    height: 30px;
    margin: 5px 0px 5px 0px;
    border: 1px solid rgba(201, 170, 150, 0.438);
    border-radius: 3px;

}

#pesquisa-livro{
    width: 300px;
}

#botao-pesquisa, #opcao-pesquisa{
    padding:5px;
}

.book_item_image{
    opacity: 0.85;
}

.book_item_image:hover{
    cursor: pointer;
    opacity: 1;
}

img{
    width: 80px;
    height: 120px;
}

div.book-item{
    display: flex;
    align-items: start;
}

div.book-item p{
    list-style-type: none;
    gap: 2em;
    
}