main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-livros{
    width: 50%;
    min-height: 750px;
    background-color: white;
    border: 1px solid var(--cor-borda);
    border-radius: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0.3em 0.5em;
    padding: 0.5em;
}

.livro_salvo{
    padding:.5em;
    height: max-content;
}

h1{
    font-weight: 300;
}